label.control-label(for="repository_url") Enter your repository URL
form.js-repository-form.form-group
	.input-group
		input.form-control.js-repository-url(id="repository_url" type="text" placeholder="https://github.com/spirehq/github-users-badge-api")
		span.input-group-btn
			button.btn.btn-primary(type="submit") Get badge
	label.js-error-message.control-label(for="repository_url")
.result
	.panel.panel-success
		.panel-heading
			h3.panel-title Badge has been successfully generated
		.panel-body
			a(href=detailsUrl)
				img(src=path)
			label
				| Insert the code below in your
				a(href=readmeUrl) Readme.md
				| to get this badge!
			input.insert-code(readonly value=insertCode)
