.outer-div
	p Enter your repository URL
	form.repository-form
		input.repository-url(type="text" placeholder="https://github.com/spirehq/github-users-badge-api")
		input(type="submit" value="Get badge")
