label.control-label(for="repository_url") Enter your repository URL
form.js-repository-form.form-group
	.input-group
		input.form-control.js-repository-url(id="repository_url" type="text" placeholder="https://github.com/spirehq/github-users-badge-api")
		span.input-group-btn
			button.btn.btn-primary(type="submit") Get badge
	label.js-error-message.control-label(for="repository_url")
.result

