.container
  .header
    a.title(href=index)
      span Mentions Badge
        sup beta
.details.container
  .row
    .col-xs-12
      if Template.subscriptionsReady
        .details.panel.panel-default
          .panel-heading
            h3.panel-title
              | {{usages}} mentions of
              a.repository-link(href=repositoryUrl) {{path}}
          if hasFiles
            table.table
              //thead
              //  tr
              //    th Package
              //    //th Stars
              //    //th Contributors
              tbody
                each file in files
                  tr
                    td
                      a(href=file.url) {{getFilePath file}}
                    //td 12
                    //td 42
          if filesLoading
            .panel-body
              +loader
          else
            if hasMoreFiles
              div(id="showMoreResults")
