.panel-title
	text-align center

.repository-link
	text-decoration underline

// Fix bootstrap mistake
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #586978;
}

.table-hover > tbody > tr:hover {
	background-color: #485563;
}
