if Template.subscriptionsReady
	.panel.panel-success
		.panel-heading
			h3.panel-title
				| There are {{usages}} mentions of
				a.repository-link(href=repositoryUrl) {{path}}
		.panel-body
			if hasFiles
				table.table.table-striped.table-hover
					thead
						tr
							th Package
							th Stars
							th Contributors
					tbody
						each file in files
							tr
								td
									a(href=file.url) {{file.name}}
								td 12
								td 42
			if filesLoading
				+loader
			else
				if noFiles
					span No mentions were found
				else if hasMoreFiles
					div(id="showMoreResults")
